# ─── GLOBAL OPTIONS ─────────────────────────────────────────────────────────
{
	admin off
}

# ─── SITE BLOCK ────────────────────────────────────────────────────────────
{$SEARXNG_HOSTNAME} {
	# ── NO LOGGING ────────────────────────────────────────
	log {
		output discard
	}

	# ── MATCHERS (all defined here!) ────────────────────────────────────────
	@api {
		path /config /healthz /stats/errors /stats/checker
	}
	@static {
		path /static/*
	}
	@notstatic {
		not path /static/*
	}
	@imageproxy {
		path /image_proxy
	}
	@notimageproxy {
		not path /image_proxy
	}

	# ── BASE SECURITY HEADERS ────────────────────────────────────────────────
	header {
		X-Frame-Options DENY
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		X-Content-Type-Options nosniff
		Permissions-Policy "accelerometer=(),camera=(),cross-origin-isolated=(),display-capture=(),encrypted-media=(),gamepad=(),geolocation=(),gyroscope=(),hid=(),magnetometer=(),microphone=(),midi=(),payment=(),publickey-credentials-get=(),screen-wake-lock=(),serial=(),usb=()"
		Referrer-Policy no-referrer
		X-Robots-Tag "noindex, noarchive, nofollow"
		Cross-Origin-Resource-Policy "same-site"
		Access-Control-Allow-Origin "https://www.searchforjohn.com"
		Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self' 'nonce-{http.request.uuid}' static.cloudflareinsights.com ajax.cloudflare.com; style-src 'self'; form-action 'self'; font-src 'self'; frame-ancestors 'none'; frame-src 'self' https://www.youtube-nocookie.com/ https://upload.wikimedia.org/ https://srv.piped.video/ https://pipedapi.kavin.rocks/ https://pipedapi.adminforge.de/ https://pipedapi.ducks.party/ https://api.piped.private.coffee/ https://videovortex.tv/ https://www.dailymotion.com/ https://yewtu.be/ https://*.freediverse.com/videos/ https://w.soundcloud.com/player/ https://www.mixcloud.com/ https://player-widget.mixcloud.com/ https://bandcamp.com/; child-src 'none'; worker-src 'none'; base-uri 'self'; connect-src 'self' cloudflareinsights.com; img-src 'self' data: *; object-src 'none';"
		-Server
	}

	# ── API CORS ──────────────────────────────────────────────────────────────
	header @api {
		Access-Control-Allow-Methods "GET, OPTIONS"
		Access-Control-Allow-Origin "https://www.searchforjohn.com"
	}

	# ── CACHE HINTS ───────────────────────────────────────────────────────────
	header @static {
		Cache-Control "public, max-age=31536000" defer
	}
	header @notstatic {
		Cache-Control "no-cache, no-store"
	}

	# ── IMAGE-PROXY CSP (reuse X-Nonce) ─────────────────────────────────────
	header @imageproxy {
		Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self' 'nonce-{http.request.uuid}' static.cloudflareinsights.com ajax.cloudflare.com; style-src 'self'; form-action 'self'; font-src 'self'; frame-ancestors 'none'; frame-src 'self' https://www.youtube-nocookie.com/ https://upload.wikimedia.org/ https://srv.piped.video/ https://pipedapi.kavin.rocks/ https://pipedapi.adminforge.de/ https://pipedapi.ducks.party/ https://api.piped.private.coffee/ https://videovortex.tv/ https://www.dailymotion.com/ https://yewtu.be/ https://*.freediverse.com/videos/ https://w.soundcloud.com/player/ https://www.mixcloud.com/ https://player-widget.mixcloud.com/ https://bandcamp.com/; child-src 'none'; worker-src 'none'; base-uri 'self'; connect-src 'self' cloudflareinsights.com; img-src 'self' data: *; object-src 'none';"
	}
	header @notimageproxy {
		Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self' 'nonce-{http.request.uuid}' static.cloudflareinsights.com ajax.cloudflare.com; style-src 'self'; form-action 'self'; font-src 'self'; frame-ancestors 'none'; frame-src 'self' https://www.youtube-nocookie.com/ https://upload.wikimedia.org/ https://srv.piped.video/ https://pipedapi.kavin.rocks/ https://pipedapi.adminforge.de/ https://pipedapi.ducks.party/ https://api.piped.private.coffee/ https://videovortex.tv/ https://www.dailymotion.com/ https://yewtu.be/ https://*.freediverse.com/videos/ https://w.soundcloud.com/player/ https://www.mixcloud.com/ https://player-widget.mixcloud.com/ https://bandcamp.com/; child-src 'none'; worker-src 'none'; base-uri 'self'; connect-src 'self' cloudflareinsights.com; img-src 'self' data: *; object-src 'none';"
	}

	# ── APP BACKEND ─────────────────────────────────────────────────────────
	handle {
		encode zstd gzip

		reverse_proxy localhost:8080 {
			header_up X-Forwarded-Port {http.request.port}
			header_up X-Forwarded-Proto {http.request.scheme}
		}
	}
	# ── TLS STUFF ───────────────────────────────────────────────────────────
	tls /root/certs/S4J.pem /root/certs/S4J.key.pem
}
